### Indexing problem

Code up a function to convert  $(i, j)$ index in a two-dimensional array into a single index $k$ which swipes the matrix by column. Also code up the inverse of this function.

In [27]:
# only consider base0
def k(i, j, m, inverse=True):
    t = i  + j * m
    if inverse == True:
        i_0 = t - j * m
        j_0 = (t - i)/m
        print((i, j),"->",t, "->", (i_0, int(j_0)))
    else:
        print((i, j), "->", t)

In [28]:
k(1, 1, 5, True)

(1, 1) -> 6 -> (1, 1)

In [29]:
r = 2
n = 3
print(r ,"F",n, (r, n))

2 F 3 (2, 3)

In [30]:
for i in range(5):
    for j in range(10):
        k(i, j, 5)

(0, 0) -> 0 -> (0, 0)
(0, 1) -> 5 -> (0, 1)
(0, 2) -> 10 -> (0, 2)
(0, 3) -> 15 -> (0, 3)
(0, 4) -> 20 -> (0, 4)
(0, 5) -> 25 -> (0, 5)
(0, 6) -> 30 -> (0, 6)
(0, 7) -> 35 -> (0, 7)
(0, 8) -> 40 -> (0, 8)
(0, 9) -> 45 -> (0, 9)
(1, 0) -> 1 -> (1, 0)
(1, 1) -> 6 -> (1, 1)
(1, 2) -> 11 -> (1, 2)
(1, 3) -> 16 -> (1, 3)
(1, 4) -> 21 -> (1, 4)
(1, 5) -> 26 -> (1, 5)
(1, 6) -> 31 -> (1, 6)
(1, 7) -> 36 -> (1, 7)
(1, 8) -> 41 -> (1, 8)
(1, 9) -> 46 -> (1, 9)
(2, 0) -> 2 -> (2, 0)
(2, 1) -> 7 -> (2, 1)
(2, 2) -> 12 -> (2, 2)
(2, 3) -> 17 -> (2, 3)
(2, 4) -> 22 -> (2, 4)
(2, 5) -> 27 -> (2, 5)
(2, 6) -> 32 -> (2, 6)
(2, 7) -> 37 -> (2, 7)
(2, 8) -> 42 -> (2, 8)
(2, 9) -> 47 -> (2, 9)
(3, 0) -> 3 -> (3, 0)
(3, 1) -> 8 -> (3, 1)
(3, 2) -> 13 -> (3, 2)
(3, 3) -> 18 -> (3, 3)
(3, 4) -> 23 -> (3, 4)
(3, 5) -> 28 -> (3, 5)
(3, 6) -> 33 -> (3, 6)
(3, 7) -> 38 -> (3, 7)
(3, 8) -> 43 -> (3, 8)
(3, 9) -> 48 -> (3, 9)
(4, 0) -> 4 -> (4, 0)
(4, 1) -> 9 -> (4, 1)
(4, 2) -> 14 -> (4, 2)
(4, 3) -> 19 -> (4, 3)
(4, 4) -> 24 -> (4, 4)
(4, 5) -> 29 -> (4, 5)
(4, 6) -> 34 -> (4, 6)
(4, 7) -> 39 -> (4, 7)
(4, 8) -> 44 -> (4, 8)
(4, 9) -> 49 -> (4, 9)

In [31]:
#with base 1
def k(i, j, m, inverse=True, base_0 = True):
    if base_0:
        t = i  + j * m
        if inverse == True:
            i_0 = t - j * m
            j_0 = (t - i)/m
            print((i, j),"->",t, "->", (i_0, int(j_0)))
        else:
            print((i, j), "->", t)
    else:
        t = i + (j-1) * m
        if inverse==True:
            i_0 = t - (j-1) * m
            j_0 = (t - i)/m + 1
            print((i, j),"->",t, "->", (i_0, int(j_0)))
        else:
            print((i, j), "->", t)

In [32]:
for i in range(1,5):
    for j in range(1,10):
        k(i, j, 5, base_0=False)

(1, 1) -> 1 -> (1, 1)
(1, 2) -> 6 -> (1, 2)
(1, 3) -> 11 -> (1, 3)
(1, 4) -> 16 -> (1, 4)
(1, 5) -> 21 -> (1, 5)
(1, 6) -> 26 -> (1, 6)
(1, 7) -> 31 -> (1, 7)
(1, 8) -> 36 -> (1, 8)
(1, 9) -> 41 -> (1, 9)
(2, 1) -> 2 -> (2, 1)
(2, 2) -> 7 -> (2, 2)
(2, 3) -> 12 -> (2, 3)
(2, 4) -> 17 -> (2, 4)
(2, 5) -> 22 -> (2, 5)
(2, 6) -> 27 -> (2, 6)
(2, 7) -> 32 -> (2, 7)
(2, 8) -> 37 -> (2, 8)
(2, 9) -> 42 -> (2, 9)
(3, 1) -> 3 -> (3, 1)
(3, 2) -> 8 -> (3, 2)
(3, 3) -> 13 -> (3, 3)
(3, 4) -> 18 -> (3, 4)
(3, 5) -> 23 -> (3, 5)
(3, 6) -> 28 -> (3, 6)
(3, 7) -> 33 -> (3, 7)
(3, 8) -> 38 -> (3, 8)
(3, 9) -> 43 -> (3, 9)
(4, 1) -> 4 -> (4, 1)
(4, 2) -> 9 -> (4, 2)
(4, 3) -> 14 -> (4, 3)
(4, 4) -> 19 -> (4, 4)
(4, 5) -> 24 -> (4, 5)
(4, 6) -> 29 -> (4, 6)
(4, 7) -> 34 -> (4, 7)
(4, 8) -> 39 -> (4, 8)
(4, 9) -> 44 -> (4, 9)

### Example 2

Write a function to converter a decimal number into a given base. Return the result as string.

In [51]:
def function_for_conv(number, base):
    l = []
    while number >= base:
        reminder = number % base 
        number //= base
        l.append(reminder)
    
    l.append(number)
    return l[::-1]

In [56]:
function_for_conv(151041, 35)

[3, 18, 10, 16]

In [64]:
def func_for_conv_with_let(base, number):
    digits = [str(i) for i in range(10)] + [chr(i) for  i in range(97, 123)]
    assert 2 <= base <= len(digits), 'Number base must be between 2 and %d'%(len(digits))
    if x ==0:
        return '0'
    l = []
    while x > 0:
        i = x % base
        l.append(digits[i])
        x //= base
    return ''.join(l[::-1])
for n in [3,8,35,574,1023523,9999]:
    for b in range(36,1,-4):
        print('%d in base %d is %s' % (n,b,baseN(n,b)))
    print()

3 in base 36 is 3
3 in base 32 is 3
3 in base 28 is 3
3 in base 24 is 3
3 in base 20 is 3
3 in base 16 is 3
3 in base 12 is 3
3 in base 8 is 3
3 in base 4 is 3

8 in base 36 is 8
8 in base 32 is 8
8 in base 28 is 8
8 in base 24 is 8
8 in base 20 is 8
8 in base 16 is 8
8 in base 12 is 8
8 in base 8 is 10
8 in base 4 is 20

35 in base 36 is z
35 in base 32 is 13
35 in base 28 is 17
35 in base 24 is 1b
35 in base 20 is 1f
35 in base 16 is 23
35 in base 12 is 2b
35 in base 8 is 43
35 in base 4 is 203

574 in base 36 is fy
574 in base 32 is hu
574 in base 28 is ke
574 in base 24 is nm
574 in base 20 is 18e
574 in base 16 is 23e
574 in base 12 is 3ba
574 in base 8 is 1076
574 in base 4 is 20332

1023523 in base 36 is lxr7
1023523 in base 32 is v7h3
1023523 in base 28 is 1iheb
1023523 in base 24 is 320mj
1023523 in base 20 is 67ig3
1023523 in base 16 is f9e23
1023523 in base 12 is 414397
1023523 in base 8 is 3717043
1023523 in base 4 is 3321320203

9999 in base 36 is 7pr
9999 in base 32 is 9of
9999 in base 28 is cl3
9999 in base 24 is h8f
9999 in base 20 is 14jj
9999 in base 16 is 270f
9999 in base 12 is 5953
9999 in base 8 is 23417
9999 in base 4 is 2130033